body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

@media (min-width: 1440px) {
  body {
    display: flex;
  }
}
.heading-l, .card-form__btn, .card-form__input {
  font-size: 1.125rem;
}

.body-m, .card-form__input-error, .card-form__input-label {
  font-size: 0.75rem;
}

.header {
  background-image: url(../../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 240px;
}
.header__card-1 {
  background: url(../../images/bg-card-front.png);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-63%, 30%);
  z-index: 1;
}
.header__card-2 {
  background: url(../../images/bg-card-back.png);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(63%, -25%);
  z-index: 0;
}

.card {
  width: 286px;
  height: 157px;
  padding: 1.09em 1.18em;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-size: cover;
}
.card-s, .card__secret-num, .card__date, .card__name {
  font-size: 0.56rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.14em;
}
.card__logo {
  width: 54px;
  height: 30px;
}
.card__number {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 0.94em;
  letter-spacing: 0.12em;
}
.card__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__name {
  margin-top: 0;
  margin-bottom: 0;
}
.card__date {
  margin-top: 0;
}
.card__secret-num {
  margin-top: 6em;
  margin-right: 2em;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .header {
    width: 33.5%;
    height: 100vh;
  }
  .header__card-1 {
    bottom: auto;
    left: auto;
    right: 0px;
    transform: translate(30%, 0%);
    top: 11em;
  }
  .header__card-2 {
    bottom: auto;
    left: auto;
    right: 0px;
    transform: translate(45%, 0%);
    top: 29em;
  }
  .card {
    width: 447px;
    height: 245px;
  }
  .card-s, .card__name, .card__date, .card__secret-num {
    font-size: 0.875rem;
    letter-spacing: 0.14em;
  }
  .card__logo {
    width: 84px;
    height: 47px;
  }
  .card__number {
    font-size: 1.75rem;
    letter-spacing: 0.122em;
  }
  .card__secret-num {
    margin-top: 6.7em;
    margin-right: 2.5em;
  }
}
.main {
  padding: 5.68em 6.4%;
}

.card-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.68em;
  row-gap: 1.25em;
  max-width: 381px;
  margin-left: auto;
  margin-right: auto;
}
.card-form__input {
  border: solid 1px #DFDEE0;
  border-radius: 8px;
  padding: 0.61em 0.88em;
  width: 100%;
}
.card-form__input-container {
  display: flex;
  flex-direction: column;
}
.card-form__input-container.invalid .card-form__input-error {
  display: block;
}
.card-form__input-container.invalid .card-form__input {
  border-color: #FF5050;
}
.card-form__input-label {
  margin-bottom: 0.75em;
  letter-spacing: 0.16em;
  font-weight: 500;
  text-transform: uppercase;
}
.card-form__input-error {
  margin-top: 0.6em;
  color: #FF5050;
  display: none;
}
.card-form__name-container {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.card-form__number-container {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.card-form__date-container {
  grid-column: 1/2;
  grid-row: 3/4;
}
.card-form__cvc-container {
  grid-column: 2/-1;
  grid-row: 3/4;
}
.card-form__date {
  display: flex;
  column-gap: 0.625em;
}
.card-form__btn {
  grid-column: 1/-1;
  font-family: inherit;
  background-color: #21092F;
  color: white;
  padding: 0.83em 0;
  border-radius: 8px;
  border: none;
  transition: all 300ms;
  cursor: pointer;
}
.card-form__btn:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}

@media (min-width: 1440px) {
  .main {
    width: 66%;
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
